<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/logo/floww-logo-favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/logo/floww-logo-favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/search.css">

    <!-- Importing Major 3rd Party File links -->

    <link rel="stylesheet" type="text/css" href="css/fontawesome.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" type="text/css" href="css/bulma.css">
    <!--   Calling Bulma from local file   -->

    <script type="text/javascript" src="js/vue.js"></script>
    <!--   Calling Vue from local file   -->
    <script type="text/javascript" src="js/axios.min.js"></script>
    <!--   Calling Axios from local file   -->

    <title>floww Search</title>
</head>

<body>

    <div class="full-page-container" id="search-page-id">

        <div class="header-container">
            <div class="header-left-container">
                <a href="/">
                    <img src="img/logo/floww-logo-full-blue-resize.png"
                        alt="floww Logo, Biggest API marketplace for 3PL" class="desktop-view-toggle">
                    <img src="img/logo/floww-logo-small-blue.png" class="mobile-view-toggle">
                </a>
            </div>

            <div class="header-right-container">

                <div class="column" v-if="!userAuth">
                    <a class="button" href="/login.html" target="_blank">
                        Login | SignUp
                    </a>
                </div>

                <div class="header-content-container profile-dropdown-container" v-if="userAuth">
                    <span class="button is-rounded profile-dropbtn">{{userContactNo}} <i class="down-arrow"></i></span>
                    <div class="profile-dropdown-content has-text-centered">
                        <a class="" onclick="window.alert('This page is coming soon!')">My Orders</a>
                        <a class="" @click="GetApiKey">Get API Key</a>
                        <a class="" @click="LogoutButton">Logout</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="search-container">
            <div class="search-body-container">

                <div class="search-bar-container">
                    <div class="location-filter-container">
                        <div class="select is-rounded location-filter-body">
                            <select v-model="location" v-on:change="GetVendorList">
                                <option hidden value="empty" selected disabled>Select City</option>
                                <option v-for="city in vendorCities" :value="city.id">{{city.name}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Better Select Option at https://codepen.io/THEORLAN2/pen/Kaewmw -->

                    <div class="tag-filter-container">
                        <div class="select is-rounded tag-filter-body">
                            <select v-model="tagSelected" v-on:change="GetVendorList">
                                <option hidden value="empty" selected disabled>Select Tag</option>
                                <option v-for="tag in serviceTags" :value="tag.id">{{tag.name}}</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="filter-text-container has-text-centered">
                        <span>Showing <span class="tag is-medium">{{vendorList.length}}</span> 3PL providers in <span
                                class="tag is-medium">{{tagNames[location]}} <button class="delete is-small"
                                    @click="RemoveLocation()"></button></span> with <span
                                class="tag is-medium">{{tagNames[tagSelected]}} <button class="delete is-small"
                                    @click="RemoveTag()"></button></span></span>
                    </div>
                </div>

                <div class="search-load-container" v-if="searchLoading">
                    <div class="search-load-content">
                        <div class="search-load-element"></div>
                    </div>
                </div>

                <div class="search-list-container">
                    <div class="search-list-empty-text" v-if="vendorList.length == 0">
                        <span>No Vendors to Show. Please change City or Tag</span>
                    </div>

                    <!-- Card Starts -->
                    <!-- <div class="desktop-view-toggle card-container box has-text-centered">
                        <div class="card-main-container columns is-vcentered">
                            <div class="column">
                                <div class="card-element-container">
                                    <span>JS Transport</span>
                                </div>
                                <div class="card-element-container starting-from-box">
                                    <span class="tag is-warning">starting ₹49</span>
                                </div>
                            </div>

                            <div class="column">
                                <div class="card-element-container rating-container">
                                    <span><i class="fa fa-star"></i> 4.5/5</span>
                                </div>
                                <div class="card-element-container vendor-number-container">
                                    <a href="tel:+91 9910530300"><u>+91 9910530300</u></a>
                                </div>
                            </div>

                            <div class="column">
                                <div class="card-element-container">
                                    <div class="copy-button-tooltip">
                                        <a onclick="CopyButton(this)" onmouseout="CleanCopyButton(this)"
                                            class="vendor-code-container">
                                            <span class="copy-button-tooltiptext">Click to Copy</span>Get Vendor Code
                                            <span style="display: none;">{{vendorList[0].vendorCode}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-element-container vendor-number-container">
                                    <a href="#"><span><u>API Docs</u></span></a>
                                </div>
                            </div>

                            <div class="column has-text-right is-4">
                                <div class="card-element-container">
                                    <a href="#" class="website-link-button"><span>Open WEBSITE</span></a>
                                </div>
                                <div class="card-element-container">
                                    <a class="website-link-button"><span>Request DELIVERY</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-second-container">

                            <div class="card-view-more-container">
                                <a class="card-view-more-button" onclick="ToggleCardView(this)">
                                    <span>View More</span></a>
                            </div>

                            <div class="card-expand-container columns is-multiline is-gapless">

                                <div class="column is-full columns">
                                    <div class="column">
                                        <span>Founded in 1994</span>
                                    </div>
                                    <div class="column">
                                        <span>BKC, Mumbai</span>
                                    </div>
                                    <div class="column">
                                        <span>1-10 {{tagNames[vendorList[0].fleetType]}}</span>
                                    </div>
                                </div>
                                <div class="column is-full columns has-text-left">
                                    <div class="column is-2">
                                        <span>Services :</span>
                                    </div>
                                    <div class="column">
                                        <ul class="services-list-container">
                                            <li v-for="service in services" class="tag is-small">{{tagNames[service]}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="column is-full columns has-text-left">
                                    <div class="column is-2">
                                        <span>Badges :</span>
                                    </div>
                                    <div class="column">
                                        <ul class="services-list-container">
                                            <li v-for="service in services" class="tag is-small">{{tagNames[service]}}</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div> -->

                    <!-- <div class="mobile-view-toggle card-container box">
                        <div class="card-main-container">
                            <p>JS Transport</p>
                            <p class="rating-container">
                                <span><i class="fa fa-star"></i> 4.5/5</span>
                            </p>
                            <p class="starting-from-box">
                                <span class="tag is-warning">starting ₹49</span>
                            </p>

                            <br>

                            <div class="columns is-mobile is-gapless" style="margin-bottom: 7px;">
                                <div class="column is-5">
                                    <a href="" class="website-link-button"><span>Open Website</span></a>
                                </div>
                                <div class="column is-7">
                                    <a class="website-link-button"><span>Request Delivery</span></a>
                                </div>
                            </div>

                            <div class="columns is-mobile is-gapless" style="margin-bottom: 5px;">
                                <div class="column">
                                    <div class="copy-button-tooltip">
                                        <a onclick="CopyButton(this)" onmouseout="CleanCopyButton(this)"
                                            class="vendor-code-container">
                                            <span class="copy-button-tooltiptext">Click to Copy</span>Get Vendor Code
                                            <span style="display: none;">{{vendorList[0].vendorCode}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="column vendor-number-container">
                                    <a href="https://gofloww.co/api-doc" target="_blank"><span><u>API
                                                Docs</u></span></a>
                                </div>
                            </div>

                            <p class="vendor-number-container">
                                <a href="tel:+91 9910530300"><u>+91 9910530300</u></a>
                            </p>

                        </div>

                        <div class="card-second-container">

                            <div class="card-view-more-container">
                                <a class="card-view-more-button" onclick="ToggleCardView(this)">
                                    <span>View More</span></a>
                            </div>

                            <div class="card-expand-container columns is-multiline is-gapless">

                                <div class="column is-full columns is-mobile">
                                    <div class="column">
                                        <span>Founded in 1994</span>
                                    </div>
                                    <div class="column">
                                        <span>BKC, Mumbai</span>
                                    </div>
                                    <div class="column">
                                        <span>1-10 {{tagNames[vendorList[0].fleetType]}}</span>
                                    </div>
                                </div>
                                <div class="column is-full columns is-gapless has-text-left"
                                    style="margin-bottom: 5px;">
                                    <div class="column is-2">
                                        <span>Services :</span>
                                    </div>
                                    <div class="column">
                                        <ul class="services-list-container">
                                            <li v-for="service in vendorList[0].services" class="tag is-small">
                                                {{tagNames[service]}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="column is-full columns is-gapless has-text-left"
                                    style="margin-bottom: 5px;">
                                    <div class="column is-2">
                                        <span>Badges :</span>
                                    </div>
                                    <div class="column">
                                        <ul class="services-list-container">
                                            <li v-for="service in vendorList[0].services" class="tag is-small">
                                                {{tagNames[service]}}</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div> 

                    </div>-->

                    <!-- Card Ends -->

                    <vendor-card-component v-for="vendor in vendorList" :vendordata="vendor" :tagnames="tagNames"
                        @request-delivery="RequestDelivery(vendor.vendorCode, vendor.name)"></vendor-card-component>

                </div>
            </div>
        </div>

        <div class="documentation-container">
            <div class="documentation-body-container">

            </div>
        </div>

        <div class="documentation-toggle-container">

        </div>

        <div class="content-overlay" v-if="contentOverlay">

            <div class="overlay-cross-container">
                <span class="icon">
                    <i class="fa fa-times fa-2x" v-on:click="CloseOverlay"></i>
                </span>
            </div>

            <!-- ---------------------Email Form Container -->

            <div class="email-form-container" v-if="formType=='email'">
                <p class="subtitle">
                    Please provide your email ID, so we can send you the API Key on your email.
                </p>
                <p class="help has-text-danger" v-if="emailForm.error!='none'">{{emailForm.error}}</p>

                <p>
                <div class="field">
                    <div class="control">
                        <input class="input" type="email" placeholder="e.g. jake2021@gmail.com"
                            v-model="emailForm.email">
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary" @click="SubmitEmail">Submit</button>
                </div>
                </p>
            </div>

            <!-- --------------------Order Form Container -->

            <div class="order-form-container" v-if="formType=='order'">

                <p>Requesting delivery from <span class="subtitle has-text-primary">{{orderForm.vendorName}}</span></p>

                <br>

                <!-- Desktop View of Order Form -->
                <div class="desktop-view-toggle">

                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Company Name OR Your Name"
                                        v-model="orderForm.companyName">
                                </div>
                            </div>

                            <div class="field">
                                <div class="select is-rounded tag-filter-body">
                                    <select v-model="orderForm.productType">
                                        <option hidden value="" selected disabled>Select Product</option>
                                        <option v-for="product in productTags" :value="product.id">{{product.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-vcentered">

                        <div class="column">
                            <div class="field">
                                <label class="label">Delivery Date</label>
                                <div class="control">
                                    <input class="input" type="date" v-on:change="ChangeDeliveryDate($event)">
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="field">
                                <label class="label">Request Services</label>
                                <div class="field has-addons">
                                    <div class="select tag-filter-body">
                                        <select id="request-service-tag">
                                            <option hidden value="empty" selected disabled>Select Tag</option>
                                            <option v-for="tag in serviceTags" :value="tag.id">{{tag.name}}</option>
                                        </select>
                                    </div>
                                    <div class="control">
                                        <button class="button is-info" v-on:click="AddServiceTag">Add</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <hr style="margin-top: 5px; margin-bottom: 5px;">

                    <div class="control">
                        <label class="radio">
                            <input type="radio" value="perOrder" v-model="orderForm.orderType">
                            Per Order Delivery
                        </label>
                        <label class="radio">
                            <input type="radio" value="rental" v-model="orderForm.orderType">
                            Vehicle Rental
                        </label>
                    </div>

                    <div class="internal-order-form-container" v-if="orderForm.orderType=='perOrder'">
                        <div class="per-order-form-container">

                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" v-model="pickupCheckbox">
                                        Keep the same pickup address and number
                                    </label>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input pickup-address-field" type="text"
                                                placeholder="Pickup Address" v-model="orderTempElement.pickup">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            <input class="input" type="number" placeholder="Pickup Contact No"
                                                v-model="orderTempElement.pickupNo">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input drop-address-field" type="text"
                                                placeholder="Drop Address" v-model="orderTempElement.drop">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            <input class="input" type="number" placeholder="Drop Contact No"
                                                v-model="orderTempElement.dropNo">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field" style="width: 150px;">
                                        <div class="control">
                                            <input class="input" type="number" placeholder="Weight in Kg"
                                                v-model="orderTempElement.weight">
                                        </div>
                                    </div>

                                    <div class="field" style="width: 400px;">
                                        <div class="control is-expanded">
                                            <input class="input" type="number" placeholder="Instruction or Description"
                                                v-model="orderTempElement.instruction">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="control add-button-per-order-form">
                                <button class="button is-info" @click="AddOrder">Add</button>
                            </div>

                        </div>

                        <br>

                        <div class="per-order-list-container">
                            <div class="per-order-list-card" v-for="order in orderForm.orderList">
                                <p class="per-order-list-element">{{order.pickupNo}} - {{order.pickup}}</p>
                                <p class="per-order-list-element">{{order.dropNo}} - {{order.drop}}</p>
                                <p>Weight - {{order.weight}} kg | <span :title="order.instruction">Hover to See
                                        Instruction</span></p>
                            </div>
                        </div>

                    </div>

                    <div class="internal-order-form-container" v-if="orderForm.orderType=='rental'">
                        <div class="select is-rounded">
                            <select v-model="orderForm.rentalPlan">
                                <option hidden value="N/A" selected disabled>Select Plan</option>
                                <option v-for="plan in rentalPlans" :value="plan.id">{{plan.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="control add-button-per-order-form">
                        <button class="button is-info" v-on:click="SubmitOrderForm">Submit</button>
                        <button class="button is-warning" v-on:click="GetCostEstimate">Cost Estimate</button>
                    </div>
                </div>



                <!-- Mobile View of Order Form -->
                <div class="mobile-view-toggle">

                    <div class="base-order-form-container" v-if="orderFormMobile.formStatus ==='base'">
                        <div class="field">
                            <label class="label">Company Name / Your Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="e.g. Amazon"
                                    v-model="orderForm.companyName">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Product Description</label>

                            <div class="select is-rounded tag-filter-body">
                                <select v-model="orderForm.productType">
                                    <option hidden value="" selected disabled>Select Product</option>
                                    <option v-for="product in productTags" :value="product.id">{{product.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Delivery Date</label>
                            <div class="control">
                                <input class="input" type="date" v-on:change="ChangeDeliveryDate($event)">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Request Services</label>
                            <div class="field has-addons">
                                <div class="select tag-filter-body">
                                    <select id="request-service-tag">
                                        <option hidden value="empty" selected disabled>Select Tag</option>
                                        <option v-for="tag in serviceTags" :value="tag.id">{{tag.name}}</option>
                                    </select>
                                </div>
                                <div class="control">
                                    <button class="button is-info" v-on:click="AddServiceTag">Add</button>
                                </div>
                            </div>

                        </div>


                        <div class="control" style="position: relative;">
                            <button class="button is-info" style="position: absolute; right: 5px;"
                                @click="OrderFormMobileNext">Next</button>
                            <p class="help has-text-danger" style="position: absolute; left: 5px;"
                                v-if="orderFormMobile.error1">
                                Please fill all 3 fields</p>
                        </div>

                    </div>

                    <div class="advance-order-form-container" v-if="orderFormMobile.formStatus ==='advance'">

                        <div class="control">
                            <label class="radio">
                                <input type="radio" value="perOrder" v-model="orderForm.orderType">
                                Per Order Delivery
                            </label>
                            <label class="radio">
                                <input type="radio" value="rental" v-model="orderForm.orderType">
                                Vehicle Rental
                            </label>
                        </div>

                        <div class="internal-order-form-container" v-if="orderForm.orderType=='perOrder'">
                            <div class="per-order-form-container">

                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="pickupCheckbox">
                                            Keep the same pickup address and number
                                        </label>
                                    </div>
                                </div>

                                <div class="columns is-gapless is-mobile">
                                    <div class="column">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input pickup-address-field" type="text"
                                                    placeholder="Pickup Address" v-model="orderTempElement.pickup">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column is-5" style="margin-left: 5px;">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="number" placeholder="Pickup No"
                                                    v-model="orderTempElement.pickupNo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns is-gapless is-mobile">
                                    <div class="column">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input drop-address-field" type="text"
                                                    placeholder="Drop Address" v-model="orderTempElement.drop">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column is-5" style="margin-left: 5px;">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="number" placeholder="Drop Contact No"
                                                    v-model="orderTempElement.dropNo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns is-gapless is-mobile">
                                    <div class="column is-4">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="number" placeholder="Weight in Kg"
                                                    v-model="orderTempElement.weight">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column" style="margin-left: 5px;">
                                        <div class="field">
                                            <div class="control is-expanded">
                                                <input class="input" type="text"
                                                    placeholder="Instruction or Description"
                                                    v-model="orderTempElement.instruction">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="control add-button-per-order-form">
                                    <button class="button is-info" @click="AddOrder">Add</button>
                                    <button class="button is-info" onclick="ToggleViewList(this)">View List</button>
                                </div>

                                <div class="per-order-list-container-mobile hide" id="mobile-per-order-list-container">
                                    <div class="per-order-list-card" v-for="order in orderForm.orderList">
                                        <p class="per-order-list-element">{{order.pickupNo}} - {{order.pickup}}</p>
                                        <p class="per-order-list-element">{{order.dropNo}} - {{order.drop}}</p>
                                        <p>Weight - {{order.weight}} kg | <span :title="order.instruction">Hover to See
                                                Instruction</span></p>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="internal-order-form-container" v-if="orderForm.orderType=='rental'">
                            <div class="select is-rounded">
                                <select v-model="orderForm.rentalPlan">
                                    <option hidden value="N/A" selected disabled>Select Plan</option>
                                    <option v-for="plan in rentalPlans" :value="plan.id">{{plan.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="control add-button-per-order-form">
                            <button class="button is-info" v-on:click="orderFormMobile.formStatus='base'">Back</button>
                            <button class="button is-info" v-on:click="SubmitOrderForm">Submit</button>
                            <button class="button is-warning" v-on:click="GetCostEstimate">Cost Estimate</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div id="page-load-overlay">
            <div class="search-load-content">
                <div class="search-load-element"></div>
            </div>
        </div>

    </div>



    <!-- All JS files start here -->

    <script
        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAVcyVFjXhbFtR3dqbfoFWtHx0doqT7leE"></script>
    <!-- Google Address Autocomplete Places -->

    <script src="js/countryCode.js"></script>
    <!-- Country Code JS file -->

    <script src="js/flowwVariables.js"></script>
    <!-- Floww custom Dictionaries JS file -->

    <script src="js/search.js"></script>

</body>

</html>